<launch>

    <!-- input imu topic name -->
    <arg name="input_topic" default="/imu"/>

    <!-- input imu topic name -->
    <arg name="output_topic" default="/imu/data"/>

    <!-- frame of the vehicle (IMU frame will be used from IMU msg)-->
    <arg name="vehicle_frame" default="cog"/>

    <!-- define nice value of process (lower means higher priority) [-20;19] -->
    <!-- more infos: https://en.wikipedia.org/wiki/Nice_(Unix) -->
    <arg name="nice" default="nice -n -5"/>

    <!-- forward output to [screen|log] -->
    <arg name="output" default="screen"/>

    <!-- default parameter config file -->
    <arg name="config_file" default="$(find drive_ros_imu_filter)/config/cc2017_car.yaml" />

    <!-- no motion thresholds (if values are below this value for X times, it is considered no motion) -->
    <arg name="no_motion_acc_thres" default="0.1" />
    <arg name="no_motion_gyro_thres" default="0.05" />

    <!-- number of consecutive measurements before we recalibrate -->
    <arg name="buffer_length" default="50" />

    <!-- enables the autocalibration function (when car detects no motion -> run autocalibration) -->
    <arg name="autocali" default="true" />

    <!-- apply transform -->
    <node name="imu_apply_transform" pkg="drive_ros_imu_filter"
          type="apply_transform" output="$(arg output)" launch-prefix="$(arg nice)">
        <remap from="~/imu_in" to="$(arg input_topic)"/>
        <remap from="~/imu_out" to="$(arg output_topic)"/>
        <param name="vehicle_frame" type="str" value="$(arg vehicle_frame)" />
    </node>

    <!-- broadcast transform -->
    <node name="imu_broadcast_transform" pkg="drive_ros_imu_filter"
          type="broadcast_transform" output="$(arg output)" launch-prefix="$(arg nice)">
        <remap from="~/imu_in" to="$(arg input_topic)"/>
        <param name="vehicle_frame" type="str" value="$(arg vehicle_frame)" />
        <param name="no_motion_acc_thres" type="double" value="$(arg no_motion_acc_thres)" />
        <param name="no_motion_gyro_thres" type="double" value="$(arg no_motion_gyro_thres)" />
        <param name="buffer_length" type="int" value="$(arg buffer_length)" />
        <param name="autocali" type="bool" value="$(arg autocali)" />
        <rosparam command="load" file="$(arg config_file)"/>
    </node>

</launch>
